<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('admin.dashboard') %></h3>
  </div>
  <div class="panel-body">

    <ul>
      <li>總共有多少家飲料店</li>
      <li>總共有喝了多少杯飲料</li>
      <li>平均一個人喝了幾杯飲料</li>
      <li>總共有多少團建立成功</li>
      <li>總共有多少團建立失敗</li>
      <li>最熱銷飲料</li>
      <li>總共花了多少錢</li>
      <li>平均每個人花了多少錢買飲料</li>
      <li>最常喝的飲料店是？</li>
      <li>最常喝飲料的人是誰</li>
      <li>最不常喝飲料的人是誰</li>
    </ul>

  </div>
</div>
