<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Count</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if @shop.drinks.empty? %>
      <tr>
        <td colspan="6"><%= t('admin.no_drinks') %></td>
      </tr>
    <% else %>
      <% @shop.drinks.each do |drink| %>
        <tr>
          <td><%= drink.name %></td>
          <td><%= drink.orders.count %></td>
          <td><%= link_to t('edit'), edit_admin_shop_drink_path(@shop.id, drink), class: 'btn btn-default btn-xs' %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
