<div class="list-group">
  <%= admin_sidebar_link t('admin.dashboard'), admin_root_path %>
  <%= admin_sidebar_link t('admin.users'),     admin_users_path %>
  <%= admin_sidebar_link t('admin.shops'),     admin_shops_path %>
  <%= admin_sidebar_link t('admin.groups'),    admin_groups_path %>
</div>
